{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }} - Queen{% endblock %}

{% block page_description %}Learn more about {{ name }}, a member of Queen. Discover their role, contributions, and personal history.{% endblock %}

{% block content %}
<article class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ relative_path }}img/{{ image }}" alt="Portrait of {{ name }}" class="img-fluid mb-4">
        </div>
        <div class="col-md-8">
            <h1>{{ name }}</h1>
            <p><strong>instruments played:</strong> {{ instruments }}</p>
            <p><strong>tenure:</strong> {{ tenure }}</p>
            <p><strong>birthplace:</strong> {{ birthplace }}</p>
            <p><strong>birthdate:</strong> {{ birthdate }}</p>
            {{ description | safe }}
        </div>
    </div>
</article>
{% endblock %}
