{% extends '_templates/base.njk' %}

{% block page_title %}Queen Discography{% endblock %}

{% block page_description %}Explore the complete discography of Queen, including all major studio albums released over the years.{% endblock %}

{% block content %}
<article class="container">
    <h1>Queen Discography</h1>
    <div class="row">
        {% for album in discography %}
  <div class="col-md-4 mb-4">
    <div class="card">
      {% if loop.index is odd %}
        <img src="img/img-queen/discs/{{ image }}" class="card-img-top img-fluid rounded float-start" alt="{{ title }} cover">
      {% else %}
        <img src="img/img-queen/discs/{{ image }}" class="card-img-top img-fluid rounded float-end" alt="{{ title }} cover">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">Released: {{ year }}</p>
      </div>
    </div>
  </div>
{% endfor %}
    </div>
</article>
{% endblock %}
