{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}A list of Queen's albums{% endblock %}

{% block content %}
<article class="container">
  <h1>Discography</h1>
  <p>Intro text here.</p>
</article>
{% endblock %}