.custom-jumbotron h1 {
  font-family: 'Cinzel', serif;
  color: #ffffff;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.custom-jumbotron p.lead {
  font-family: 'Cardo', serif;
  color: #ffffff;
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 400;
}