// Navbar
.navbar {
  background-color: $navbar-background-color;
  margin-bottom: 20px;

  // Styling for nav links
  .nav-link {
    color: rgba(255, 255, 255, 0.5);
    
    // Styles for active state
    &.active {
      font-weight: bold; 
      color: $navbar-link-color;
    }

    // Hover effects
    &:hover {
      text-decoration: underline;
      color: lighten($navbar-link-color, 20%);
    }
  }
}
