// _variables.scss
$navbar-background-color: #000; // Black
$navbar-link-color: #ffc0cb; // Pink
$body-bg: black;
$body-color: white;
$link-hover-color: grey;
$font-family-default: 'Montserrat', sans-serif; // Default body font
$font-family-headers: 'Playfair Display', serif; // Headers font
$font-family-jumbotron: 'Cinzel', serif; // Jumbotron header font
$font-family-lead: 'Cardo', serif; // Jumbotron subtitle font
$button-background-color: #000; // Black background for buttons
$button-text-color: #fff; // White text for buttons
$button-hover-background-color: #333; // Slightly lighter black on hover for buttons
