// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss
$navbar-background-color: #000; // Black 
$navbar-link-color: #ffc0cb; // Pink

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* Bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import partials

@import 'nav';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

h3 {
  font-size: 1.5rem;
}

.custom-jumbotron {
  text-align: center;
  padding-top: 5rem; /* Increase as needed */
  padding-bottom: 5rem; /* Increase as needed */
  background-color: #000; /* Black background for better visibility of white text */
  color: white;
}

.custom-jumbotron img {
  margin-bottom: 2rem; /* Space between the image and the headline */
}

.custom-jumbotron .lead {
  margin-top: 2rem; /* Space between headline and lead text */
}




// Base styles
body, p {
  font-family: 'Montserrat', sans-serif; // Default body font
}

// Header styles
h1, h2, h3 {
  font-family: 'Playfair Display', serif; // Headers font
}

