// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss
$navbar-background-color: #000; // Black 
$navbar-link-color: #ffc0cb; // Pink

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* Bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import partials

@import 'nav';

h3 {
  font-size: 1.5rem;
}

// Jumbotron
.jumbotron {
  background: url('../img/queen-band-wallpaper-thin.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 4rem 0;
  
  h1.display-4, .lead {
    font-family: 'Libre Baskerville', serif;
    color: inherit;
  }
}
